<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Agregar Animal</h2>
                </div>
                <div class="card-body">
                    <form action="/links/adda" method="POST">
                        <div class="form-group">
                            <input type="text" name="fincaid" class="form-control" placeholder="Finca" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="chapeta" class="form-control" placeholder="Chapeta del animal" >
                        </div>
                        <div class="form-group">
                            <input type="text" name="peso" class="form-control" placeholder="Peso del animal">
                        </div>
                        <div class="form-group">
                            <input type="text" name="color" class="form-control" placeholder="Color del animal">
                        </div>
                        <div class="form-group">
                            <input type="text" name="genero" class="form-control" placeholder="Genero">
                        </div>
                         <div class="form-group">
                            <input type="text" name="vrmacho" class="form-control" placeholder="Valor Macho">
                        </div>
                        <div class="form-group">
                            <input type="text" name="vrhembra" class="form-control" placeholder="Valor Hembra">
                        </div>
                    
                        <input type="submit" class="btn btn-primary btn-block" value="Agregar">
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>