<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Agregar Proveedor</h2>
                </div>
                <div class="card-body">
                    <form action="/links/addpr" method="POST">
                        <div class="form-group">
                            <input type="text" name="cc" class="form-control" placeholder="Cedula" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="fullname" class="form-control" placeholder="Nombre Completo">
                        </div>
                        <div class="form-group">
                            <input type="text" name="dir" class="form-control" placeholder="Dirección">
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" class="form-control" placeholder="Telefono">
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Agregar">
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>